<!doctype html>
<html ng-app="mainApp">

   <head>
        <meta charset="utf-8">
        <title>Gravitas</title>
        <!--Bootstrap latest compiled and minified CSS-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!--Optional theme-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="resources/css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.5.0/angular-route.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.0.3/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>
        <script src="js/config.js"></script>
        <script src="js/mainApp.js"></script>

        <script src="js/controllers/opportunityCtrl.js"></script>

   </head>

   <body>
     <div class="global-Mask" style="display: none;"><img class="global-loader-Img" src="resources/img/ajax-loader.gif"></div>
     <div ng-controller="opportunityCtrl">
        <div class="container errorCls" style="display:none">
            <div class="agntCls validCls fontWeightBold alert alert-danger" ng-bind="errorMsg"></div>
        </div>
       <div class="container dataCls" style="display:none;">
           <div class="agntCls fontWeightBold">Agent Email : <span ng-bind="agentEmail" class="fontWeightNm"></span></div>
          <div class="row divCls">
              <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 ">
                <fieldset>
                    <legend>Opportunity Info</legend>
                    <div class="row scrollYDiv" setheight>
                        <div class="col-xs-12 col-sm-2 col-lg-4 col-md-4 marginTop10 fontWeightBold">Opportunity Id : <span ng-mouseenter="logMouseEvent()" ng-bind="crmOpportunityId" class="fontWeightNm"></span></div>
                        <div class="col-xs-12 col-sm-2 col-lg-4 col-md-4 marginTop10 fontWeightBold">Name : <span  ng-bind="contactName" class="fontWeightNm"></span></div>
                        <div class="col-xs-12 col-sm-2 col-lg-4 col-md-4 marginTop10 fontWeightBold">Phone Number : <span ng-bind="contactNumber" class="fontWeightNm"></span></div>
                        <div class="col-xs-12 col-sm-2 col-lg-4 col-md-4 marginTop10 fontWeightBold">Stage : <span ng-bind="stage" class="fontWeightNm"></span></div>
                        <div class="col-xs-12 col-sm-2 col-lg-4 col-md-4 marginTop10 fontWeightBold">Email : <span ng-bind="contactEmail" class="fontWeightNm"> </span></div>
                        <div class="col-xs-12 col-sm-2 col-lg-4 col-md-4 marginTop10 fontWeightBold">Budget : <span ng-bind="budget" class="fontWeightNm"> </span></div>
                        <div class="col-xs-12 col-sm-2 col-lg-4 col-md-4 marginTop10 fontWeightBold">Opportunity Type : <span ng-bind="oppType" class="fontWeightNm"></span></div>
                        <div class="col-xs-12 col-sm-2 col-lg-4 col-md-4 marginTop10 fontWeightBold">Pre-Approved : <span ng-bind="preApprovedForMortgage" class="fontWeightNm"></span></div>
                        <div class="col-xs-12 col-sm-2 col-lg-4 col-md-4 marginTop10 fontWeightBold">Readiness Timeline : <span ng-bind="buyerReadinessTimeline" class="fontWeightNm"></span></div>
                        <div class="col-xs-12 col-sm-2 col-lg-4 col-md-4 marginTop10 fontWeightBold">Area of interest : <span ng-bind="areaOfInterest" class="fontWeightNm"></span></div>
                        <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 marginTop10 fontWeightBold">Notes : <span ng-bind="notes" class="fontWeightNm"></span></div>
                     </div>
                </fieldset>
              </div>
              </div>

           <div class="row divCls" >
                 <div class="col-md-12">
                       <legend>Agent Notes</legend>
                       <!--<div class="panel panel-default" setheight>
                           <ul class="list-group">
                                   <a class="list-group-item" ng-repeat="notes in notesDetails | orderBy : 'createdDtm' | filter:{deleted:'!true'}">{{notes.details}}</a>
                          </ul>
                       </div>-->
                       <div  setheight>
                            <table border="1" class="tableWidth">
                                <tr>
                                       <th ng-class='{headerThCls:$first}' ng-repeat="column in colsName">{{column}}</th>
                                </tr>
                                <tr ng-repeat="notes in notesDetails | orderBy:'createdDtm':true | filter:{deleted:'!true'}">
                                     <td ng-repeat="column in cols">{{notes[column]}}</td>
                                </tr>
                                <!--<ul class="list-group">
                                        <a class="list-group-item" ng-repeat="notes in notesDetails | orderBy : 'createdDtm' | filter:{deleted:'!true'}">{{notes.details}}</a>
                                </ul>-->
                            </div>
                      </div>
                 <div class="col-md-4" style="display:none">
                       <legend>Tasks</legend>
                      <div class="panel panel-default">
                           <ul class="list-group">
                                   <a class="list-group-item" ng-repeat="tasks in taskDetails" >{{tasks.title}}</a>
                          </ul>
                    </div>
                </div>
                <div class="col-md-4" style="display:none">
                       <legend>Requests</legend>
                      <div class="panel panel-default scrollYDiv">
                           <ul class="list-group">
                                   <a class="list-group-item" ng-repeat="request in requestDetails">{{request.title}}</a>
                          </ul>
                    </div>
                </div>
           </div>
        </div>
   </body>
</html>