.global-Mask {
    z-index: 1100001;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.global-Mask .global-loader-Img {
    margin: 20% auto;
    display: block;
    border-radius: 4px;
    vertical-align: middle;
}
.divCls{
    border: 1px solid;
    margin-top: 15px;
    padding: 10px 0 10px 0;
}
.agntCls{
    margin-top: 15px;
    
}
.headerThCls{
   width : 70%;
}
td, th{
    padding : 7px;
}
th{
   background-color: #ccc;
}
.tableWidth{
    width : 100%;
}
.table2Cls{
    width : 30%;
}
.trim-info {
      max-width: 50px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;  
      line-height: 15px;
      position: relative;
   }
legend{
    margin-bottom :0;
}
.marginTop10{
    margin-top: 10px;
}
.scrollYDiv{
   
    overflow: auto;
}
.fontWeightBold{
    font-weight : bold;
}
.fontWeightNm{
    font-weight : normal;
}